@font-face {
  font-family: 'cinnamon';
  src: url('./assets/font/CinnamonCoffeCake-Ea2Pr.ttf') format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --widthJeu: 1920;
  --widthPxJeu: 1920px;
  --heightJeu: 1080;
  --heightPxJeu: 1080px;

  --vertForet: #0a380a;
}

/* classes générales */

* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh
}

.h-100 {
  min-height: 100vh
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

a {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
}
a:hover {
  color: #FFD700;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(128,128,128);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #FFD700;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* nav */
nav{
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-image: url('./assets/img/title-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav div {
  display: flex;
  align-items: center;
}

nav a {
  margin: 20px;
  font-size: large;
}

nav img {
  width: 40px;
}

/* Connexion */
.backgroundConnexion{
  width: 100vh;
  height: 100vh;
  background-color: #0a380a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  width: 100%;
}
.formConnexion{
  width: 100vh;
  margin-top: 10px;
  padding-top: 10px;
  margin: auto;
  text-align: center;
  padding: 25px;

}

.backgroundConnexion h1{ 
  text-align: center;
  margin: 30px;
  padding-top: 30px;
}

.backgroundConnexion p{ 
  text-align: center;
  margin-bottom: 10px;
}

.formConnexion p{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.formConnexion label{
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.formConnexion input{
  width: 100%;
  height: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  margin-bottom: 5px;
}

.formConnexion button{
  margin-top: 10px;
  background-image: url('./assets/img/accueil-bg.jpg');
  background-position: center;
  color: #ffffff;
}

.flex-link{
  width: 50%;
}

/* Page d'accueil */
.Accueil {
  background-image: url('./assets/img/accueil-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  width: 100%;
  font-family: 'cinnamon';
  position: relative;
}

.AccueilStyle {
  background-image: url('./assets/img/title-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  text-align: center;
  color: #f9f9f9;
}

.Accueil h1 {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  padding: 10px;
  width: 40%;
}

.Accueil div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Accueil a {
  width: 300px;
  font-size: xx-large;
  margin-top: 50px;
}

.Accueil a:hover {
  border: 2px solid #FFD700;
}

/* Pages de jeu */
.conteneur-jeu {
  width: 75vw;
  height: 75vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 0 0;
}

.contenu-jeu {
  width: 100%;
  height: 100%;
  max-width: var(--widthPxJeu);
  max-height: var(--heightPxJeu);
  transform: scale(calc(min(100vw / var(--widthJeu), 100vh / var(--heightJeu))));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imageBackgroundLobby {
  background-image: url('./assets/img/vieux-plancher-sale.jpg');
}

/* Emotes */
.sectionEmote {
  box-sizing: border-box;
  height: 100%;
  width: 15%;
  padding: 0.5%;
  background-image: url('./assets/img/title-bg.jpg');
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleEmote {
  position: absolute;
  top: 1%;
}

.imgEmote {
  height: 15%;
  width: 50%;
  margin-top: 20px;
  background-image: url('./assets/img/title-bg.jpg');
  border: 5px outset var(--vertForet);
}

.imgEmote:hover {
  border: 5px inset var(--vertForet);
}

/* Personnage */
.personnage {
  position: absolute;
  display: inline-block;
  width: 5%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-image: url('./assets/img/cockroach.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px #000);
  transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
  transform-origin: center;
}

.nomPersonnage {
  transform: rotate(90deg);
  position: absolute;
  color: var(--vertForet);
  text-align: center;
  width: 175%;
  height: 25%;
  top: 25%;
  left: 15%;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Messagerie */

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      background-color: rgba(128,128,128,0.8);
  }
  to {
      opacity: 0;
      background-color: rgba(128,128,128,0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s forwards;
}

.fade-out {
  opacity: 1;
  background-color: rgba(128,128,128,0.8);
  animation: fadeOut 3s forwards;
}

.boxMessagerie {
  width: 25%;
  position: absolute;
  right: 0;
  bottom: 80px;
}

.boxMessagerie p {
  background-color: rgba(128,128,128,0.8);
}

.formMessagerie {
  width: 25%;
  position: absolute;
  right: 0;
  bottom: 20px;
  display: flex;
  justify-content: end;
}

.formMessagerie input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  color: #000;
}

.formMessagerie button {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 0.7em;
  font-weight: 500;
}

 /* The Modal (background) */
 .modal {
  display: block; 
  position: fixed; 
  left: 0;
  top: 0;
  overflow: auto; 
  background-color: #fff; 
}

.modal .show {
  display: block; 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 200px; 
  color: #000;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.hidden{
  display: none;
}

.show{
  display: inline-block;
}

/* À propos */

.apropos {
  padding: 30px;
}

.apropos h1{
  text-align: center;
  margin: 30px;
}